{% extends 'food/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-2">
                <img style="height:400px" class="card" src="{{ item.item_image }}" alt="food_image">
            </div>
            <div class="col-md-6 pt-2">
                <h1> {{ item.item_name }} </h1>
                <h2> {{ item.item_description }} </h2>
                <h3>${{ item.item_price }} </h3>
            </div>    
        </div>
    </div>
{% endblock %}   