{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block body %}

        {% for item in item_list %}
        {% comment %} <div class="row">
            <div class="col-md-3 pl-3" style="padding-left:50px">
                <img class="card" style="height:250px" src="{{ item.item_image }}" alt="image">
            </div>
            <div class="col-md-6 pl-3" style="padding-left:150px">
                <h3>{{ item.item_name }}</h3>
                <h5>{{ item.item_description }}</h5>
                <h6>${{ item.item_price }}</h6>
            </div>
            <div class="col-md-3 pt-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>

            </div>
        </div>  {% endcomment %}

            <div class="row">
                <div class="col-md-3 offset-md-2 pt-2">
                    <img class="card" style="height:250px" src="{{ item.item_image }}" alt="image">
                </div>
                <div class="col-md-5 pt-2" style="padding-left:150px">
                    <h3>{{ item.item_name }}</h3>
                    <h5>{{ item.item_description }}</h5>
                    <h6>${{ item.item_price }}</h6>
                </div>
                <div class="col-md-2 pt-2">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Details</a>

                </div>
            </div> 
        {% endfor %}

    {% endblock %}
    {% comment %} <ul>
        <li>
            <a href="{% url 'food:detail' item.id %}"> {{ item.id }} --> {{ item.item_name }} </a>
        </li>
    </ul> {% endcomment %}
</body>
</html>